<div class="row">
  <div class="col-md-12">
    <div class="accueil">
      <h1>Les Logs de Mehdi et Emma</h1>
      <p class="description">Nos logs</p>
        <a class="btn btn-danger" href="/visiteur">Les derniers messages</a>
        <a class="btn btn-default" href="/identification">Login</a>
    </div>
  </div>
</div>  