<h1>Formulaire</h1>
Les logs de simplon village



<form action="/formulaire" method="post" accept="charset-utf-8">
	NOM
	<input type="text" name="nom" id="nom">
	PRENOM
	<input type="text" name="prenom" id="prenom">
	LOG
	<input type="text" name="log" id="log">
	<input type="submit" value="envoyer">

</form>

<form action="/reverse" method ="post" accept-charset="utf-8">
<input type="text" id="phrase" name="phrase" value="Write something...">
<input type="submit" value="...and reverse it!">
</form>

<form action="/reverse" method ="post" accept-charset="utf-8">
<input type="text" name="name">
<input type="text" name="email">
<input type="text" name="password">
<input type="submit" value="submit">
</form>
