<h1>Formulaire</h1>
Les logs de simplon village



<form action="/formulaire" method="post" accept="charset-utf-8">
	NOM
	<input type="text" name="nom" id="nom">
	PRENOM
	<input type="text" name="prenom" id="prenom">
	LOG
	<input type="text" name="log" id="log">
	<input type="submit" value="envoyer">

</form>