<h1>Formulaire</h1>


Les logs de simplon village
<TD COLSPAN=2>

<div id="bande_horizontale"></div>
<div class="row">
<form class ="col-md-6-md-offset-3" method="post" action="">
<TD>
<SELECT name="fonction">
<OPTION VALUE="binome">Emmanuelle B et Mehdi</OPTION>
</SELECT>
</TD>

</div>

<div id="boxmessage">
<p>Message :</p>
<textarea class="zone" oval="Message" name="Message" placeholder="Log*" required="required"></textarea>
</div>
<div id="boxenvoyer">
<button title="Envoyer" value="Envoyer"><span class="ico btn send">ENVOYER</span></button>
</div>
</form>