<div class="container">
  <div class="section-identification">
    <div class="row">
      <h2>Connectez-vous</h2>
    </div>
    
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <form action="/identification" method="post">
          <label for="username">Nom:</label>
          <input type="text" name="username"><br />
          <label for="password">Mot de passe:</label>
          <input type="password" name="password">
          <input type="submit" value="connexion">
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="retour">
          <a href="/accueil">Retourner à l'accueil</a>
        </div>
      </div>
    </div>
  </div>
</div>