<h2>Liste des tâches :</h2>
<% unless @tasks.empty? %>
<ul>
<% @tasks.each do |task| %>
  <li <%= "class=\"completed\"" if task.completed? %>>
    <%= task.link %>
  </li>
<% end %>
</ul>
<% else %>
<p>Aucun log enregistré !</p>
<% end %>

<h2>Créer un log</h2>
<form action="/task/create" method="POST">
  <select name="list" name="nom">
 	<OPTION VALUE="Mehdi">Mehdi</OPTION>
	<OPTION VALUE="Emmanuelle">Emmanuelle</OPTION>
	<OPTION VALUE="Florian">Florian</OPTION>
	<OPTION VALUE="Romain">Romain</OPTION>
	<OPTION VALUE="autre">Autre</OPTION>
  <input type="text" name="name" placeholder="ajoutez ici un log">
  
  <input type="submit" value="Ajoutez votre log"/>
</form>
