<!DOCTYPE html>
<html lang="fr">
  <head>

        <meta charset="utf-8"
        <link href="public/main.css" rel="stylesheet">  

    <title>PLogs</title>
  </head>


  <body>  

    <%= yield %>

 
  </body>
</html>