<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>pLog</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1><a href="/">Logs SIMPLON VILLAGE</a></h1>

    <%= yield %>

  </body>
</html>