<!DOCTYPE html>
<html lang="fr">
  <head>

    <link href="css/bootstrap.css" rel="stylsheet">
    <link href="css/bootstrap-reponsive.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">    
    <meta charset="utf-8">

    <title>PLogs</title>
  </head>


  <body>  

    <%= yield %>

 
  </body>
</html>