Bienvenue !
<form action="/nouveau" class="form-inline" method="post">
    <label for="choix">Votre prénom :</label>
    <input type="text" placeholder="insérer votre log" name="message" required="required">
    <select name="author" id="choix">
        <option value="Mehdi">Mehdi</option>
        <option value="Emmanuelle">Emmanuelle</option>
    </select>
    <button type="submit" class="btn">Envoyer</button>
</form>

<% @logs.each do |log| %>
    <h3><%= log.author %></h3>
    <p><%= log.message %></p>
<span>
    <a href="/delete/<%= log[:id] %>" class="btn-danger">Supprimer</a>
    <a href="/modify/<%= log[:id] %>" class="btn-danger">Modifier</a>
</span>
<% end %>

<a href="/accueil">Retour à l'identification </a>